*{margin: 0; padding: 0;}
ul{list-style: none;}
a:link, a:visited{text-decoration: none;}

html, body{width: 100%; height: 100%;}

.wrap{
    width: 100%;
    height: 400%;
}

.wrap section:nth-child(1){
    width: 100%;
    height: 25%;
    background: url(./bg1.jpg) center/cover fixed;
    position: relative;
}
.wrap section:nth-child(1) h2{
    position: absolute;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: palevioletred;
    font-size: 40px;
    text-transform: uppercase;
}
.wrap section:nth-child(1) p{
    position: absolute;
    left: 350px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 15px;
    text-transform: uppercase;
}
.wrap section:nth-child(1) img{
    position: absolute;
    z-index: 2;
}
.wrap section:nth-child(2){
    width: 100%;
    height: 25%;
    background: url(./bg2.jpg) center/cover fixed;
    position: relative;
}
.wrap section:nth-child(2) h2{
    position: absolute;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 40px;
    text-transform: uppercase;
}
.wrap section:nth-child(2) p{
    position: absolute;
    left: 350px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 15px;
    text-transform: uppercase;
}
.wrap section:nth-child(2) img{
    position: absolute;
    z-index: 2;
}
.wrap section:nth-child(2) .color1{
    color: white;
}

.wrap section:nth-child(3){
    width: 100%;
    height: 25%;
    background: url(./bg3.jpg) center/cover fixed;
    position: relative;
}
.wrap section:nth-child(3) h2{
    position: absolute;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 40px;
    text-transform: uppercase;
    color: yellow;
}
.wrap section:nth-child(3) p{
    position: absolute;
    left: 350px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
.wrap section:nth-child(3) img{
    position: absolute;
    z-index: 2;
}
.wrap section:nth-child(4){
    width: 100%;
    height: 25%;
    background: url(./bg4.jpg) center/cover fixed;
    position: relative;
}
.wrap section:nth-child(4) h2{
    position: absolute;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 40px;
    text-transform: uppercase;
    color: blueviolet;
}
.wrap section:nth-child(4) p{
    position: absolute;
    left: 350px;
    top: 56%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 15px;
    text-transform: uppercase;
}
.wrap section:nth-child(4) img{
    position: absolute;
    z-index: 2;
}

.header{
    position: fixed;
    width: 200px; 
    top: 50px;
    left: 40px;
    z-index: 5;
}
.header img{width: 100%; z-index: 5;}

nav{
    position: fixed;
    z-index: 5;
    width: 200px;
    height: 90%;
    transform: translateY(-50%);
    top: 50%;
}
nav ul{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav li{
    width: 100%;
    height: 60px;
    text-align: right;
    /* font: bold 17px/70px; */
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    transition: all 0.3s;
}

nav li::before{
    width: 100%;
    height: 1px;
    background: #333;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
}
nav a{
    color: #333;
    font: 17px;
}
nav .over{
    transform: scale(1.5);
    color: palevioletred;
}
nav .over a{
    color: palevioletred;
}

nav .over::before{
    background-color: palevioletred;
}
nav li:nth-child(2):hover::before{
    background-color: rgb(255, 189, 241);
}
nav li:nth-child(3):hover::before{
    background-color: yellow;
}
nav li:nth-child(4):hover::before{
    background-color: blueviolet;
}
nav li:nth-child(2):hover a{
    color: rgb(255, 189, 241);
    font-size: 20px;
    transition: all 0.3s;
}
nav li:nth-child(3):hover a{
    color: yellow;
    font-size: 20px;
    transition: all 0.3s;
}
nav li:nth-child(4):hover a{
    color: blueviolet;
    font-size: 20px;
    transition: all 0.3s;
}